@font-face {
	font-family: pp-regular;
	src: url(./fonts/PPNeueMontreal-Regular.ttf);
}
@font-face {
	font-family: pp-medium;
	src: url(./fonts/PPNeueMontreal-Medium.ttf);
}

:root {
	--reg-font-family: pp-regular;
	--med-font-family: pp-medium;

	--pri-color: #f44f01;
	--sec-color: #fa7300;

	--light-theme-color: #fff;
	--dark-theme-color: #000;
	--gradient-pri-color: linear-gradient(
		to bottom,
		var(--pri-color) 0%,
		var(--sec-color) 100%
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--dark-theme-color);
	color: var(--light-theme-color);
}

/* ============== SCROLLBAR ============== */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #111;
}
::-webkit-scrollbar-thumb {
	background: var(--pri-color);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--sec-color);
}

/* =============== GLOBAL =============== */

.title-text {
	/* padding: 0 32px; */
	padding-bottom: 32px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	border-bottom: 1px solid #252525;

	.title-text-left {
		display: flex;
		flex-direction: column;
		gap: 32px;

		overflow: hidden;
		.title-11 {
			transition: all ease-out 0.5s;
		}
		.title-heading-container {
			overflow: hidden;
			width: 800px;
			.heading-style-h2 {
				transition: all ease-out 0.7s;
			}
		}
	}

	.title-btn-container {
		padding: 16px;
		transition: all ease-out 0.9s;
		overflow: hidden;
	}
}
.heading-style-h5 {
	font: 400 28px/1 var(--reg-font-family);
	letter-spacing: 1.4px;
}
.heading-style-h2 {
	font: 400 72px/1.1 var(--reg-font-family);
	letter-spacing: 1.4px;
	text-transform: uppercase;
}
.heading-style-h4 {
	font: 400 44px/1.1 var(--reg-font-family);
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.title-11 {
	font: 900 11px/1 var(--reg-font-family);
	color: var(--pri-color);
	text-transform: uppercase;
	letter-spacing: 6.5px;
}
.para-12 {
	color: var(--light-theme-color);
	letter-spacing: 1px;
	font: 100 10px/1 var(--reg-font-family);
}
.para-16 {
	font: 100 16px/1.1 var(--reg-font-family);
	text-transform: uppercase;
	letter-spacing: 0.8px;
	width: 100%;
	text-align: center;
}

.glow-button {
	padding: 20px 32px;
	background: var(--pri-color);
	border: none;
	border-radius: 8px;
	letter-spacing: 1.8px;
	font: 600 14px/1 var(--reg-font-family);
	color: var(--light-theme-color);
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px var(--pri-color);
	/* transition: transform ease-out 0.5s; */
	transition: all cubic-bezier(0.36, 0.01, 0.65, 0.99) 0.4s;

	z-index: 49;
	cursor: pointer;
}
.glow-button::before {
	z-index: 50;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		transparent 30%,
		rgb(255, 255, 255, 0.2)
	);
	transition: background 0.3s ease;
}
.glow-button:hover {
	box-shadow: 0 0 18px 0.5px var(--pri-color);
}
.glow-button:hover::before {
	background: linear-gradient(
		to bottom,
		transparent 20%,
		rgb(255, 255, 255, 0.24)
	);
}

.link {
	text-decoration: none;
	color: var(--light-theme-color);
	letter-spacing: 1px;
	font: 500 16px/1 var(--med-font-family);
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.link:hover {
	color: var(--pri-color);
}

@media (max-width: 600px) {
	.link {
		font-size: 14px;
	}
}
/* =============== LOADER =============== */
#loader {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, #fa7100, #f44f01);

	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: end;
	align-items: end;

	display: none;

	#timer-container {
		overflow: hidden;
		height: fit-content;
		width: fit-content;
		position: relative;

		#timer {
			font: 400 600px/0.75 var(--reg-font-family);
			color: var(--dark-theme-color);
			letter-spacing: -40px;
		}
	}
}

/* =============== NAV BAR =============== */

.nav-bar {
	z-index: 99;
	padding: 22px 32px;
	background: transparent;
	width: 100%;

	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: start;
	.link {
		width: 200px;
	}
	.link:nth-child(3) {
		text-align: right;
	}
}

.menu-toggle {
	mix-blend-mode: difference;

	display: grid;
	place-items: center;
	gap: 12px;
	cursor: pointer;
	.para-12 {
		opacity: 0.9;
	}
}
.menu-toggle .menu-bar {
	background-color: var(--light-theme-color);
	height: 5px;
	width: 140px;
	border-radius: 100px;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.menu-toggle:hover .menu-bar {
	width: 156px;
}

@media (max-width: 600px) {
	.nav-bar {
		padding: 22px 16px;
	}
	.menu-toggle {
		display: none;
	}
}
/* =============== HERO SECTION ===============  */
.hero-section {
	padding: 226px 0 170px 0;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.hero-portrait {
	background: linear-gradient(to bottom, #fa7300, #f34f00);
	object-fit: cover;
	border-radius: 12px;
	height: 524px;
	width: 382px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* =============== HOVER DRAG ANIMATION =============== */
	/* mix-blend-mode: difference; */
	pointer-events: none;
	z-index: 98;
}

.marquee-container {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	z-index: 1;
	cursor: default;
}
.marquee-name {
	color: #131313;
	font: 400 240px/1 var(--med-font-family);
	animation: toleftmarquee 10s linear infinite;
}

@keyframes toleftmarquee {
	0% {
		transform: translateX(00%);
	}
	100% {
		transform: translateX(
			-50.6%
		); /* Move half the width to restart seamlessly */
	}
}

.hero-container {
	height: 100%;
	width: 100%;
	display: grid;
	gap: 161px;
	position: relative;
	/* overflow: hidden; */
}

/* =============== ABOUT SECTION =============== */

/* =============== BACKDROP SECTION =============== */

.backdrop-blur-section {
	padding: 55px 32px;
	background-image: url(./resource/backdrop-bg.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.backdrop-blur-container {
	padding: 130px 200px;
	text-align: center;
	backdrop-filter: blur(50px);
	height: 100vh;
	background-color: rgba(45, 45, 45, 0.349);
	border-radius: 10px;

	display: grid;
	place-items: center;
	gap: 38px;

	.glow-button {
		margin-top: 16px;
	}
}
.text-anime span {
	opacity: 0.2;
	transition: opacity ease 0.1s;
	/* transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s; */
}
/* =============== PROJECTS SECTION =============== */
.projects-section {
	padding: 140px 32px;
}
.project-cards-container {
	padding: 140px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
.project-card {
	height: 80vh;
	width: 65vw;
	border-radius: 15px;
	padding: 32px;

	background-image: var(--card-bg);
	background-position: center;
	background-size: cover;

	transition: background-size ease 0.4s;
	.card-title {
		display: flex;
		justify-content: space-between;

		.card-title-buttons {
			display: flex;
			gap: 8px;

			.card-button {
				padding: 14px 16px;
				border-radius: 5px;
				border: none;

				background-color: rgb(48, 48, 48, 0.1725);
				backdrop-filter: blur(10px);

				font: 600 11.5px/1 var(--reg-font-family);
				letter-spacing: 1.4px;
				color: var(--light-theme-color);
				text-transform: uppercase;
			}
		}
	}
}

.project-card:nth-child(n) {
	/* Dynamically stack cards */
	z-index: calc(100 - var(--index));
}
/* =============== SERVICES SECTION =============== */
.services-section {
	padding: 0 32px;
	display: flex;
	flex-direction: column;
	gap: 160px;

	.services-cards-container {
		display: flex;
		gap: 32px;

		.service-card {
			background-color: #131313;
			padding: 32px;
			height: 507px;
			width: 392px;
			border-radius: 15px;

			display: flex;
			flex-direction: column;
			gap: 60px;
		}
	}
}
