@font-face {
	font-family: pp-regular;
	src: url(./fonts/PPNeueMontreal-Regular.ttf);
}
@font-face {
	font-family: pp-medium;
	src: url(./fonts/PPNeueMontreal-Medium.ttf);
}

:root {
	--reg-font-family: pp-regular;
	--med-font-family: pp-medium;

	--pri-color: #f44f01;
	--sec-color: #fa7300;

	--light-theme-color: #fff;
	--dark-theme-color: #000;
	--gradient-pri-color: linear-gradient(
		to bottom,
		var(--pri-color) 0%,
		var(--sec-color) 100%
	);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	background-color: var(--dark-theme-color);
	color: var(--light-theme-color);
}

/* ============== SCROLLBAR ============== */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--pri-color);
}
::-webkit-scrollbar-thumb:hover {
	background: var(--sec-color);
}

/* =============== GLOBAL =============== */

.heading-title {
	font: 400 30vw/1 var(--reg-font-family);
	letter-spacing: -4px;
	text-transform: uppercase;
	background: var(--gradient-pri-color);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heading-style-h1 {
	font: 400 240px/1 var(--med-font-family);
	text-transform: uppercase;
}
.menu-links {
	width: fit-content;
	color: var(--light-theme-color);
	text-decoration: none;
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.social-links {
	color: var(--light-theme-color);
	letter-spacing: 1.2px;
	font: 100 12px/1 var(--reg-font-family);
	text-transform: uppercase;
	text-decoration: none;
	transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.social-links:hover {
	color: var(--pri-color);
}

.title-text {
	/* padding: 0 32px; */
	width: 100%;
	padding-bottom: 32px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	border-bottom: 1px solid #252525;

	.title-text-left {
		display: flex;
		flex-direction: column;
		gap: 32px;

		overflow: hidden;

		.heading-style-h2 {
			width: 59vw;
		}
	}
}
.heading-style-h5 {
	font: 400 28px/1 var(--reg-font-family);
	letter-spacing: 1.4px;
	text-transform: uppercase;
}
.heading-style-h2 {
	font: 400 72px/1.1 var(--reg-font-family);
	letter-spacing: 1.4px;
	text-transform: uppercase;
}
.heading-style-h4 {
	font: 400 44px/1.1 var(--reg-font-family);
	text-transform: uppercase;
	letter-spacing: 0.4px;
}

.title-11 {
	font: 900 11px/1 var(--reg-font-family);
	color: var(--pri-color);
	text-transform: uppercase;
	letter-spacing: 6.5px;
}
.para-12 {
	color: var(--light-theme-color);
	letter-spacing: 1px;
	font: 100 12px/1 var(--reg-font-family);
	text-transform: uppercase;
}
.para-16 {
	font: 100 16px/1.3 var(--reg-font-family);
	text-transform: uppercase;
	letter-spacing: 0.8px;
	width: 100%;
	text-align: center;
}

.glow-button {
	padding: 20px 32px;
	background: var(--pri-color);
	border: none;
	border-radius: 8px;
	letter-spacing: 1.8px;
	font: 600 14px/1 var(--reg-font-family);
	color: var(--light-theme-color);
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px var(--pri-color);
	transition: box-shadow cubic-bezier(0.36, 0.01, 0.65, 0.99) 0.4s;

	z-index: 49;
	cursor: pointer;
}
.glow-button::before {
	z-index: 50;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		transparent 30%,
		rgb(255, 255, 255, 0.2)
	);
	transition: background 0.3s ease;
}
.glow-button:hover {
	box-shadow: 0 0 18px 0.5px var(--pri-color);
}
.glow-button:hover::before {
	background: linear-gradient(
		to bottom,
		transparent 20%,
		rgb(255, 255, 255, 0.24)
	);
}

.link {
	text-decoration: none;
	color: var(--light-theme-color);
	letter-spacing: 1px;
	font: 500 16px/1 var(--med-font-family);
	transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.link:hover {
	color: var(--pri-color);
}

/* =============== LOADER =============== */
#loader {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to bottom, #fa7100, #f44f01);

	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: end;
	align-items: end;

	display: none;

	#timer-container {
		overflow: hidden;
		height: fit-content;
		width: fit-content;
		position: relative;

		#timer {
			font: 400 600px/0.75 var(--reg-font-family);
			color: var(--dark-theme-color);
			letter-spacing: -40px;
		}
	}
}

/* =============== NAV BAR =============== */

.nav-bar {
	z-index: 9999;
	mix-blend-mode: difference;

	padding: 22px 32px;
	background: transparent;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: start;
	.link {
		width: 200px;
	}
	.link:nth-child(3) {
		text-align: right;
	}
}
.menu-toggle {
	display: grid;
	place-items: center;
	gap: 12px;
	cursor: pointer;
	.para-12 {
		opacity: 0.9;
		font-size: 10px;
	}
	.menu-bar {
		background-color: var(--light-theme-color);
		height: 5px;
		width: 140px;
		border-radius: 100px;
		transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
	}
}
.menu-toggle:hover .menu-bar {
	width: 156px;
}

.menu {
	z-index: 999;
	position: fixed;
	width: 100%;
	margin: 8px;
	padding-right: 16px;
	overflow: hidden;

	display: none;

	.menu-container {
		border-radius: 10px;
		padding: 142px 0 42px;
		height: 100%;
		width: 100%;

		transform: translateY(-100%);

		display: grid;
		place-items: center;

		backdrop-filter: blur(50px);
		background-color: rgba(45, 45, 45, 0.349);

		.menu-links-wrapper {
			width: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4px;

			overflow: hidden;
			.menu-links {
				transform: translateY(-100%);
			}
		}
		.menu-links-wrapper:hover .menu-links {
			opacity: 0.3;
		}
		.menu-links-wrapper .menu-links:hover {
			opacity: 1;
		}
	}
}

/* =============== HERO SECTION ===============  */
.hero-section {
	padding: 226px 0 11vw 0;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.hero-portrait-wrapper {
	.hero-portrait {
		background: linear-gradient(to bottom, #fa7300, #f34f00);
		object-fit: cover;
		border-radius: 12px;
		height: 524px;
		width: 382px;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);

		/* =============== HOVER DRAG ANIMATION =============== */
		/* mix-blend-mode: difference; */
		pointer-events: none;
		z-index: 90;
	}
	.hero-portrait:nth-child(2) {
		z-index: 89;
		opacity: 0.6;
		transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
	}
	.hero-portrait:nth-child(3) {
		z-index: 88;
		opacity: 0.45;
		transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.45s;
	}
	.hero-portrait:nth-child(4) {
		z-index: 87;
		opacity: 0.3;
		transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.64s;
	}
	.hero-portrait:nth-child(5) {
		z-index: 86;
		opacity: 0.15;
		transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.92s;
	}
}

.marquee-container {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	z-index: 1;
	cursor: default;
	.para-16 {
		line-height: 1.1;
	}
}
.marquee-name {
	color: #131313;
	animation: toleftmarquee 10s linear infinite;
}

@keyframes toleftmarquee {
	0% {
		transform: translateX(00%);
	}
	100% {
		transform: translateX(
			-50.6%
		); /* Move half the width to restart seamlessly */
	}
}

.hero-container {
	height: 100%;
	width: 100%;
	display: grid;
	gap: 161px;
	position: relative;
	/* overflow: hidden; */
}

/* =============== ABOUT SECTION =============== */

/* =============== BACKDROP SECTION =============== */

.backdrop-blur-section {
	padding: 55px 32px;
	background-image: url(./resource/backdrop-bg.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.backdrop-blur-container {
	padding: 130px 0;
	/* min-height: 100vh; */
	text-align: center;
	backdrop-filter: blur(50px);
	background-color: rgba(45, 45, 45, 0.349);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 38px;

	.heading-style-h4 {
		width: 74vw;
	}

	.glow-button {
		margin-top: 16px;
	}
}

.text-anime span {
	opacity: 0.2;
	transition: opacity ease 0.1s;
	/* transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.3s; */
}
/* =============== PROJECTS SECTION =============== */
.projects-section {
	padding: 9vw 32px;
}
.project-cards-container {
	padding: 9vw 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}
.project-card-link {
	display: block;
	text-decoration: none;
	color: inherit;
	border-radius: 15px;
	height: 80vh;
	width: 65vw;
	overflow: hidden;

	.project-card {
		height: 100%;
		width: 100%;
		border-radius: 15px;
		cursor: pointer;
		padding: 32px;

		background-image: var(--card-bg);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;

		transition: background-size cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
		.card-title {
			width: 100%;
			display: flex;
			justify-content: space-between;
			overflow: hidden;
			.heading-style-h5 {
				transform: translateY(-100%);
				transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
			}
			.card-title-buttons {
				display: flex;
				gap: 8px;

				.card-button {
					transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
					transform: translateY(-50%);
					opacity: 0;
					padding: 14px 16px;
					border-radius: 5px;
					border: none;

					background-color: rgb(48, 48, 48, 0.1725);
					backdrop-filter: blur(10px);

					font: 600 11.5px/1 var(--reg-font-family);
					letter-spacing: 1.4px;
					color: var(--light-theme-color);
					text-transform: uppercase;
				}
			}
		}
	}
}

.project-card-link:hover {
	.project-card {
		background-size: 110%;
		.heading-style-h5 {
			transform: translateY(0%);
		}
		.card-title-buttons {
			.card-button {
				transform: translateY(0%);
				opacity: 1;
			}
		}
	}
}

.project-card:nth-child(n) {
	/* Dynamically stack cards */
	z-index: calc(100 - var(--index));
}

/* =============== SERVICES SECTION =============== */
.services-section {
	min-height: 276vh;

	padding: 0 32px;

	.services-cards-container {
		padding: 100px 0;
		min-height: 80vh;
		width: 100%;

		position: relative;

		.service-card-wrapper {
			width: 22vw;
			height: 29.6vw;
			position: absolute;
			top: 90%;
			left: 38.5%;
			transform-style: preserve-3d;
			transform: translate(0, -100%);
			.service-card {
				height: 100%;
				width: 100%;
				position: relative;
				transform-style: preserve-3d;
				transition: transform ease-in-out 1s;

				.card-front,
				.card-back {
					height: 100%;
					width: 100%;
					border-radius: 15px;
					position: absolute;
					top: 0;
					left: 0;
					backface-visibility: hidden;
				}
				.card-front {
					background-color: #131313;
					padding: 32px;

					z-index: 1;

					display: flex;
					flex-direction: column;
					gap: 40px;

					transform: rotateY(180deg);

					ul {
						list-style: none;

						li {
							padding: 15px 0;
							text-align: left;
							border-bottom: 1px dashed #373737;
						}
					}
					.heading-style-h5.card-number {
						color: var(--pri-color);
						font-size: 42px;
						text-align: right;
					}
				}
				.card-back {
					z-index: 2;
					transform: rotateY(0deg);
					background-image: url(./resource/service-card-back.png);
					background-size: cover;
					background-position: center;
				}
			}
		}
	}
}

/* =============== AWARDS SECTION =============== */
.awards-section {
	position: relative;
	/* min-height: 140vh; */
	height: 65vw;
	width: 100%;
	overflow: hidden;

	.awards-bg-container {
		background-color: #444;
		display: flex;
		gap: 1vw;

		.awards-col-wrapper {
			width: 100%;
			position: relative;

			.awards-column {
				display: grid;
				gap: 1vw;

				position: absolute;

				.awards-card {
					background-image: url(./resource/awards-card-img.png);
					background-size: cover;
					background-position: center;
					border-radius: 10px;
					/* width: 369.6px; */
					/* height: 490.4px; */
					/* height: 70.6vh; */
					height: 32.1vw;
					width: 24.05vw;
				}
			}
		}
		.awards-col-wrapper:nth-child(odd) .awards-column {
			transform: translateY(-5%);
		}
	}

	.awards-overlay {
		padding: 9vw 32px;

		background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
		border-bottom: 1px solid #131313;

		height: 100%;
		width: 100%;

		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		justify-content: end;

		.awards-title {
			display: flex;
			justify-content: space-between;
			align-items: end;
			.heading-style-h2 {
				width: 61vw;
			}
			.awards-logo-cont {
				width: 20vw;
				display: flex;
				flex-direction: column;
				align-items: end;
				gap: 2.2vw;
				img:nth-child(1) {
					width: 15vw;
				}
				img:nth-child(2) {
					width: 100%;
				}
			}
		}
	}
}

/* =============== DRIBBLE SECTION =============== */
.dribble-section {
	padding: 15vw 2vw 6vw;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;

	.dribble-anime-container {
		height: 100%;
		width: 100%;
		display: flex;
		gap: 1px;
		.dribble-col {
			display: flex;
			flex-direction: column;
			.dribble-img-wrapper {
				height: 49vh;
				width: 48.4vw;
				margin-bottom: -50px;
				position: relative;
				img {
					border-radius: 10px;
					height: 49vh;
					width: 47.4vw;
					object-fit: cover;
				}
			}
		}
	}

	.dribble-overlay-container {
		height: 100%;
		width: 100%;
		z-index: 10;

		position: absolute;
		top: 0;
		left: 0;
		backdrop-filter: none;
		background-color: transparent;
		gap: 20px;
		.para-16 {
			width: 23%;
		}

		img {
			width: 150px;
			margin-bottom: -6px;
		}
	}
}

/* =============== BOOK CALL SECTION =============== */
.bookcall-section {
	.backdrop-blur-section .backdrop-blur-container {
		gap: 20px;

		.heading-style-h4 {
			width: 40%;
		}
		.para-16 {
			width: 30%;
		}
	}
}

/* =============== FOOTER SECTION =============== */
.footer-section {
	min-height: 100vh;
	width: 100%;
	padding: 7vw 32px 0;
	overflow: hidden;

	.footer-top {
		padding-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: start;
		border-bottom: 1px solid #252525;

		.footer-top-left {
			display: grid;
			gap: 16px;
			.para-16 {
				text-align: left;
			}
		}
		.footer-top-right {
			width: 50%;
			display: grid;
			gap: 8px;

			.menu-links:hover {
				color: var(--pri-color);
			}
		}
	}

	.footer-copyright {
		padding: 32px 0;
		display: flex;
		justify-content: space-between;
		.socials {
			width: 50%;
			display: flex;
			gap: 3.2vw;
			justify-content: start;
		}
	}
	.footer-name {
		width: 100%;
		white-space: nowrap;
		position: relative;
		.heading-style-h1 {
			width: 100%;
			text-align: center;
			/* position: absolute; */
			/* transform: translateX(-32px); */
			/* letter-spacing: -1vw; */
			transform: translateY(67.8px);

			font-size: 14.8vw;
			font-family: var(--reg-font-family);
			background: var(--gradient-pri-color);
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

/* ============================================= ABOUT PAGE ============================================= */
/* =============== ABOUT HERO SECTION =============== */
.about-hero-section {
	.about-hero-container {
		padding: 32px;
		display: flex;
		justify-content: space-between;
		.about-hero-wrapper {
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 32px;
			.heading-style-h4:nth-child(2) {
				opacity: 0.4;
			}
		}
		img {
			height: 47vw;
			width: 50%;
		}
	}
}

/* =============== ABOUT DETAILS SECTION =============== */
.about-details-section {
	width: 100%;
	padding: 10vw 32px;

	display: grid;
	gap: 9vw;
	.heading-style-h4 {
		opacity: 0.4;
		width: 80%;
	}
	.tool-box {
		border-top: 1px solid #252525;
		padding-top: 64px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.tool-box-right {
			width: 58%;

			display: grid;
			gap: 64px;

			.tool-box-right-container {
				display: flex;
				align-items: end;
				gap: 20px;
				flex-wrap: wrap;
				img {
					height: 8px;
					width: 8px;
					margin-bottom: 6px;
				}
			}

			.tool-box-experience {
				display: flex;
				flex-direction: column;
				gap: 16px;

				.heading-style-h5 {
					padding-bottom: 16px;
				}
				.para-16 {
					opacity: 0.4;
					font-weight: 100;
					width: fit-content;
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.about-hero-section {
		.about-hero-container {
			padding: 16px;
			flex-direction: column-reverse;
			gap: 32px;

			.about-hero-wrapper {
				width: 100%;
				gap: 16px;
				.heading-style-h4:nth-child(2) {
					opacity: 0.4;
				}
			}
			img {
				height: 100vw;
				width: 100%;
			}
		}
	}
	.about-details-section {
		padding: 10vw 16px 140px;

		.heading-style-h4 {
			width: 100%;
		}

		.tool-box {
			padding-top: 32px;
			flex-direction: column;
			gap: 32px;
			.tool-box-right {
				width: 100%;

				gap: 32px;

				.tool-box-right-container {
					gap: 8px;
					img {
						margin: 0 8px;
						margin-bottom: 4px;
					}
				}

				.tool-box-experience {
					gap: 16px;

					.heading-style-h5 {
						padding-bottom: 8px;
					}
				}
			}
		}
	}
}

/* ============================================= PROJECTS PAGE ============================================= */
/* =============== PROJECTS HERO SECTION =============== */
.projects-hero-section {
	.heading-title {
		padding: 32px 0;
		font-size: 20vw;
	}
	.project-cards-container {
		padding: 10vw 32px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
		flex-wrap: wrap;

		.project-card-link {
			height: 70vh;
			width: 47.1vw;
		}
	}
}

/* ============================================= CONTACT PAGE ============================================= */
/* =============== CONTACT HERO SECTION =============== */
.contact-hero-section {
	.heading-title {
		padding: 32px 0;
		font-size: 22vw;
	}
	.contact-hero-container {
		padding: 10vw 32px;
		display: flex;
		flex-direction: column;

		.para-16 {
			opacity: 0.4;
			font-weight: 100;
			width: fit-content;
			margin-bottom: 30px;
		}
		.heading-style-h2 {
			width: fit-content;
			color: var(--light-theme-color);
			margin-bottom: -14px;
			text-decoration: none;
			transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
		}
		.heading-style-h2:hover {
			color: var(--pri-color);
		}
	}
}
@media (max-width: 600px) {
	.projects-hero-section {
		.heading-title {
			padding: 46px 0;
			font-size: 21vw;
		}
		.project-cards-container {
			padding: 10vw 16px;
			flex-direction: column;

			.project-card-link {
				height: 55vh;
				width: 100%;
			}
		}
	}
	.contact-hero-section {
		.heading-title {
			padding: 46px 0;
		}
		.contact-hero-container {
			padding: 10vw 16px;

			.para-16 {
				margin-bottom: 20px;
			}
			.heading-style-h2 {
				margin-bottom: -8px;
			}
		}
	}
}
/* ============================================= SINGLE PROJECT PAGE ============================================= */
/* =============== SINGLE PROJECT HERO SECTION =============== */
.single-project-hero-section {
	.single-project-card {
		height: 100vh;
		width: 100%;
		background-image: var(--card-bg);
		background-position: center;
		background-size: cover;
		padding: 32px;
		display: flex;
		align-items: end;
		.card-title {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			.card-title-buttons {
				display: flex;
				gap: 8px;

				.card-button {
					padding: 14px 16px;
					border-radius: 5px;
					border: none;

					background-color: rgb(48, 48, 48, 0.1725);
					backdrop-filter: blur(10px);

					font: 600 11.5px/1 var(--reg-font-family);
					letter-spacing: 1.4px;
					color: var(--light-theme-color);
					text-transform: uppercase;
				}
			}
		}
	}
	.single-project-details-container {
		padding: 10vw 2vw;
		display: flex;
		justify-content: space-between;
		align-items: start;
		.s-project-details {
			width: 39%;
			display: grid;
			gap: 16px;
			.s-details-card {
				height: 65vh;
				width: 100%;
				border-radius: 10px;
				background: var(--gradient-pri-color);
			}
			.glow-button {
				width: 100%;
			}
		}

		.s-project-overview {
			width: 56%;

			display: flex;
			flex-direction: column;
			gap: 48px;
			.s-project-overview-wrapper {
				.heading-style-h4 {
					padding-bottom: 16px;
				}
				.para-16 {
					opacity: 0.4;
					font-weight: 100;
					font-family: var(--reg-font-family);
					font-size: 20px;
					letter-spacing: -0.1px;
					width: fit-content;
					text-align: left;
					text-transform: none;
					line-height: 1.5;
				}
			}
		}
	}
}
/* ============================================= RESPONSIVE ============================================= */

@media (max-width: 600px) {
	/* =============== GLOBAL RESPONSIVE =============== */
	.nav-bar {
		padding: 22px 16px;
		justify-content: center;
		align-items: center;

		.link {
			display: none;
		}
	}
	.menu {
		padding: 4px;
	}
	.heading-style-h4 {
		font: 400 30px/1.1 var(--reg-font-family);
		letter-spacing: 0px;
	}
	.heading-style-h2 {
		font-size: 40px;
		letter-spacing: 1px;
	}
	.para-16 {
		font-size: 13px;
	}
	.title-text {
		padding-bottom: 32px;
		flex-direction: column;
		align-items: start;
		gap: 32px;
		border-bottom: 1px solid #252525;

		.title-text-left {
			display: flex;
			flex-direction: column;
			gap: 32px;

			overflow: hidden;

			.heading-style-h2 {
				width: 89vw;
			}
		}
	}
	.heading-style-h5 {
		font-size: 20px;
	}
}
@media (max-width: 600px) {
	/* =============== BACKDROP RESPONSIVE =============== */
	.backdrop-blur-section {
		padding: 55px 16px;
		.backdrop-blur-container {
			padding: 60px 0;
			gap: 16px;

			.heading-style-h4 {
				width: 90%;
			}
		}
	}
	/* =============== PROJECTS RESPONSIVE =============== */
	.projects-section {
		padding: 9vw 16px;
	}
	.project-card-link {
		height: 70vh;
		width: 94vw;

		.project-card {
			background-size: cover;

			.card-title {
				flex-direction: column;
				gap: 24px;
				.card-title-buttons {
					display: flex;
					flex-direction: column;
					gap: 8px;

					.card-button {
						width: fit-content;
					}
				}
			}
		}
	}
	.project-card-link:hover .project-card {
		background-size: cover;
		.heading-style-h5 {
			transform: translateY(0%);
		}
		.card-title-buttons {
			.card-button {
				transform: translateY(0%);
				opacity: 1;
			}
		}
	}
	/* =============== SERVICES RESPONSIVE =============== */
	.services-section {
		padding: 0 16px;
		min-height: 100vh;
		.services-cards-container {
			padding-top: 50px;
			height: auto;
			width: 100%;

			display: flex;
			flex-direction: column;
			gap: 16px;
			.service-card-wrapper {
				height: 380px;
				width: 100%;
				position: static;
				transform: translate(0, 0%);
				.service-card {
					.card-front {
						gap: 18px;
						transform: rotateY(0deg);

						ul li {
							padding: 14px 0;
						}

						.heading-style-h5.card-number {
							font-size: 28px;
						}
					}
					.card-back {
						display: none;
					}
				}
			}
		}
	}
	/* =============== AWARDS RESPONSIVE =============== */
	.awards-section {
		height: 80vw;

		.awards-overlay {
			padding: 9vw 16px;

			.awards-title {
				flex-direction: column;
				align-items: start;
				gap: 32px;
				.heading-style-h2 {
					width: 100%;
				}
				.awards-logo-cont {
					width: 40%;
					flex-direction: column;
					align-items: start;
					img:nth-child(1) {
						width: 35vw;
					}
					img:nth-child(2) {
						width: 100%;
					}
				}
			}
		}
	}
	/* =============== DRIBBLE RESPONSIVE =============== */
	.dribble-section .dribble-overlay-container .para-16 {
		width: 50%;
	}
	.bookcall-section {
		.backdrop-blur-section .backdrop-blur-container {
			gap: 10px;

			.heading-style-h4 {
				width: 80%;
			}
			.para-16 {
				width: 90%;
			}
		}
	}
	/* =============== FOOTER RESPONSIVE =============== */
	.footer-section {
		padding: 7vw 16px 0;

		.footer-top {
			flex-direction: column;
			gap: 60px;
		}

		.footer-copyright {
			flex-direction: column-reverse;
			gap: 60px;
			.socials {
				flex-direction: column;
			}
		}
		.footer-name {
			.heading-style-h1 {
				transform: translateY(10px);
			}
		}
	}
}
